
.wrapper
  .contents

    = render 'shared/side_bar'

    .right-content
      .right-content__edit
        = link_to "Edit", ""
      %ul.group-tytle
        %li.group-tytle__name
          sampleグループ
        %li.group-tytle__member Members: fujimorikanta
      .right-content__message
        %ul.messages
          %li.message
            .chat-body
              %p.message__name fujimorikanta
              %p.message__time
                2018/12/16 06:23:20
            .chat-body
              %p.message__text
                hello
        %ul.messages
          %li.message
            .chat-body
              %p.message__name fujimorikanta
              %p.message__time
                2018/12/16 06:23:20
            .chat-body
              %p.message__text
                hello
        .bottom-content
          = form_for [@group, @message] do |f|
            = f.text_field :content, class: 'bottom-content__text', placeholder: 'type a message'
            .bottom-content__icon
              = f.label :image, class: 'bottom-content__image' do
                = fa_icon 'picture-o', class: 'icon'
                = f.file_field :image, class: 'hidden'
            = f.submit 'Send', class: 'bottom-content__send'
